.container {
    width: 200px;
    background-color: purple;
  }
  
  .main {
    border-left: 5px solid green;
    padding: 10px;
  }
  
  .heading {
    color: white;
  }
  
  .heading div {
    font-size: 20px;
  }
  
